h1, h2, h3, h4, h5, h6
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  font-weight: bold
  font-style: normal
  color: #444
  text-rendering: optimizeLegibility
  margin-top: 0.2em
  margin-bottom: 0.5em
  line-height: 1.2125em
