<footer>
    <div class="container row gutter">
	<div class="container column">
	    <h3>about this page</h3>
	    <p>Made with <i class="fa fa-heart fa-fw"></i> and <i class="fa fa-pencil-square-o fa-fw"></i> by Guang.</p>
	</div>
	<div class="container column">
	    <h3>around the web</h3>
	    <ul>		
		<li><a href="mailto:gtcxg@hotmail.com">
		    <i class="fa fa-envelope fa-fw"></i></a>
		</li>
		<li>
		    <a href="http://github.com/gsy">
			<i class="fa fa-github fa-fw"></i></a>
		</li>
		<li>
		    <a href="http://codepen.io/guangdane/">
			<i class="fa fa-codepen fa-fw"></i></a>
		</li>
		<li>
		    <a href="https://www.freecodecamp.com/gsy">
			<i class="fa fa-fire fa-fw"></i></a>
		</li>
	    </ul>
	</div>
    </div>
    <div class="copyright">
	<h3>Guang © 2016. All Rights Reversed</h3>
    </div>
</footer>
